@import 'libs';
@import 'vars';
@import './_mixins.scss';
@import './_fonts';
@import 'generic';
// common styles

.loader-el{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  color: black;
  transition: opacity 0.5s;

  &__logo{
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__line{
    width: 4px;
    height: 0;
    background: black;
    position: absolute;
    bottom: 0;
  }

  &__text{
    font-family: $druk;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    position: absolute;
    left: 34px;
    letter-spacing: -0.017em;
    color: #202020;
  }
}

// end common styles

@import 'imports';
